<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ishuman.me</title>
	<link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body style="background: #eee url(/img/background.jpg) 50% 50% no-repeat; background-size: cover;">

	<div class="body">

		<div class="login_box">

			<div class="title">hello, human! :)</div>

			<a href="javascript:" class="login_button">sign in with humanity</a>
			<a href="/auth/fb" class="login_button fb">sign in with facebook</a>
			<a href="/auth/gplus" class="login_button gp">sign in with google</a>
			<a href="/auth/tw" class="login_button tw">sign in with twitter</a>

			<a href="javascript:" class="signup">sign up with email address</a>

			<table class="colors">
				<tr>
					<td class="color c00 active">&nbsp;</td>
					<td class="color c01">&nbsp;</td>
					<td class="color c02">&nbsp;</td>
					<td class="color c03">&nbsp;</td>
					<td class="color c04">&nbsp;</td>
					<td class="color c05">&nbsp;</td>
					<td class="color c06">&nbsp;</td>
					<td class="color c07">&nbsp;</td>
					<td class="color c08">&nbsp;</td>
					<td class="color c09">&nbsp;</td>
					<td class="color c10">&nbsp;</td>
				</tr>
			</table>

		</div>

	</div>

</body>
</html>