body {
	background-image: none;
	background-color: white;
	position: relative;
	overflow: hidden;
}

.noselect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*background-color: rgba(255,255,0,.3);*/
	/*transform: translateZ(0);*/
}

.scrollable {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: auto;
	/*background-color: rgba(0,255,255,.3);*/
}

.x2, .x3 {
	position: relative;
	float: left;
	display: block;
	min-height: 100%;
	/*background-color: rgba(220,0,0,.2);*/
}
.x3 {
	/*background-color: rgba(0,0,220,.2);*/
}

.x2 > div, .x3 > div {
	position: relative;
	overflow: visible;
}

.x2 > div .play,
.x3 > div .play {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(/img/play.png) 50% 50% no-repeat;
	cursor: pointer;
	opacity: 0;
}
.x3 > div .play {
	background: url(/img/play_small.png) 50% 50% no-repeat;
}
.x2 > div .favorit,
.x3 > div .favorit {
	background: url(/img/hart.png) 50% 50% no-repeat;
	width: 31px;
	height: 25px;
	position: absolute;
	display: block;
	top: 8px;
	right: 10px;
	opacity: 0;
	cursor: pointer;
}
.x2 > div:hover .favorit,
.x3 > div:hover .favorit {
	opacity: .5;

	-webkit-transition: all 0.15s ease;
	-moz-transition:    all 0.15s ease;
	-o-transition:      all 0.15s ease;
	-ms-transition:     all 0.15s ease;
	transition:         all 0.15s ease;

	-webkit-transition-delay: .3s;
	-o-transition-delay:      .3s;
	-moz-transition-delay:    .3s;
	transition-delay:         .3s;
}
.x2 > div .favorit:hover,
.x3 > div .favorit:hover {
	opacity: .75;

	-webkit-transition-delay: 0;
	-o-transition-delay:      0;
	-moz-transition-delay:    0;
	transition-delay:         0;
}
.x2 > div:hover .favorit.active,
.x3 > div:hover .favorit.active {
	opacity: 1;
}

.x2 > div:hover .play,
.x3 > div:hover .play {
	opacity: 1;

	-webkit-transition: all 0.15s ease;
	-moz-transition:    all 0.15s ease;
	-o-transition:      all 0.15s ease;
	-ms-transition:     all 0.15s ease;
	transition:         all 0.15s ease;

	-webkit-transition-delay: .3s;
	-o-transition-delay:      .3s;
	-moz-transition-delay:    .3s;
	transition-delay:         .3s;
}

.x2 > div {
	width: 100%;
	/*background: rgba(150,0,0,1) url(/img/1.jpg) 50% 50% /cover no-repeat;*/
}
/*.x2 > div.g {
	background: rgba(150,150,0,1) url(/img/3.jpg) 50% 50% /cover no-repeat;
}*/
.x2 > div:before {
	content: " ";
	display: block;
	padding-top: 56.25%;
}

.x3 > div {
	width: 100%;
	/*background: rgba(0,0,150,1) url(/img/2.jpg) 50% 50% /cover no-repeat;*/
}
/*.x3 > div.g {
	background: rgba(150,0,150,1) url(/img/4.jpg) 50% 50% /cover no-repeat;
}
.x3 > div.gg {
	background: rgba(0,150,0,1) url(/img/5.jpeg) 50% 50% /cover no-repeat;
}*/
.x3 > div:before {
	content: " ";
	display: block;
	padding-top: 56.25%;
}

.hide .x2 > div {
	display: none;
}

.hint {
	background-color: rgba(0,156,255,.8);
	padding-bottom: 20px;

}

.x2 .hint,
.x3 .hint {
	padding-bottom: 0;
	position: absolute;
	z-index: 10;
	width: 100%;
	background-image: none;
	background-color: rgba(0,156,255,.8);
	/*height: 37.5%;*/
	height: 0;
	left: 0;
	top: 0;

	display: block;
	overflow: hidden;

	-webkit-transition: all 0.10s ease;
	-moz-transition:    all 0.10s ease;
	-o-transition:      all 0.10s ease;
	-ms-transition:     all 0.10s ease;
	transition:         all 0.10s ease;

	font-size: 100%;
}

.x3 .hint {
	font-size: 70%;
}

.x2 .hint:before,
.x3 .hint:before {
	display: none;
}

/* - */

.x2 > div:nth-child(1) + .hint { top: 49.9%; }
.x2 > div:nth-child(3) + .hint { top: auto; bottom: 50%; }

.x2 > div:nth-child(1):hover + .hint,
.x2 > div:nth-child(3):hover + .hint {
	height: 35.5%;
	min-height: 265px;

	-webkit-transition-delay: .3s;
	-o-transition-delay:      .3s;
	-moz-transition-delay:    .3s;
	transition-delay:         .3s;
}

.x2 .hint:hover { 
	height: 35.5%; 
	min-height: 265px;
}

/* - */

.x3 > div:nth-child(1) + .hint { top: 33.3%; }
.x3 > div:nth-child(3) + .hint { top: 66.6%; }
.x3 > div:nth-child(5) + .hint { top: auto; bottom: 33.3%; }

.x3 > div:nth-child(1):hover + .hint,
.x3 > div:nth-child(3):hover + .hint,
.x3 > div:nth-child(5):hover + .hint {
	height: 25%;
	min-height: 185px;

	-webkit-transition-delay: .3s;
	-o-transition-delay:      .3s;
	-moz-transition-delay:    .3s;
	transition-delay:         .3s;
}

.x3 .hint:hover {
	height: 25%;
	min-height: 185px;
}

/* - */

.hint .top {
	width: 100%;
	height: 3.4em;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.hint .progress {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 53px;
	background-color: rgba(255, 255, 255, .1);
}
.x3 .hint .progress {
	height: 38px;
}

.hint .collected {
	border-spacing: 0;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	font-size: 2.8em;
	line-height: normal;
}
.hint .collected td {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #fff;
	vertical-align: middle;
}
.hint .proc,
.hint .remaining {
	width: 25%;
	font-size: .5em;
}


.hint .text {
	padding: .3em 0 .1em;
	text-align: center;
	font-size: 2.7em;
	line-height: normal;
	color: #fff;
}

.hint .donate { 
	text-align: center;
	font-size: 3.6em;
	line-height: normal;
	color: #fff;
}

.hint .now > div, 
.hint .donate > div {
	display: inline-block;
	position: relative;
	padding: 0 1em;
	margin: 0 auto;
}

.hint .proc,
.hint .now,
.remaining {
	background-color: rgba(255,255,255,.1);
}

.hint .plus,
.hint .minus {
	position: absolute;
	display: block;
	width: .8em;
	height: .8em;
	left: 0;
	top: 50%;
	margin-top: -.4em;
	border-radius: 50%;
	cursor: pointer;
}
.hint .plus > img,
.hint .minus > img {
	width: 100%;
	display: block;
}

.hint .minus {
	left: auto;
	right: 0;
}

.hint .now {

}

.hint .empower {
	text-align: center;
}
.hint .empower input[type="submit"] {
	display: inline-block;
	font-size: 2.4em;
	line-height: normal;
	color: #fff;
	text-decoration: none;
	background-color: rgba(255,255,255,.25);
	padding: 0 .4em 0.1em;
	margin: .2em auto 0;
	border: 0 none;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/* = */


.images {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 140px;
	background-color: rgba(255,255,0,.4);
	z-index: 10;
	overflow: hidden;
	text-align: center;
}

.images .image {
	display: inline-block;
	height: 140px;
	width: 248px;
	background-color: rgba(0,0,100,.5);
	margin-right: 1px;
	cursor: pointer;
}

.left, .right {
	display: block;
	position: fixed;
	z-index: 11;
	background: url(/img/arrow.png) 0 0 no-repeat;
	left: 5px;
	bottom: 50%;
	opacity: .5;
	width: 15px;
	height: 64px;
	cursor: pointer;
}
.right {
	left: auto;
	right: 5px;
	background-position: -15px 0;
}
.left:hover, .right:hover {
	opacity: .8;
}
/* = */

.big_menu {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -286px;
	width: 572px;
	z-index: 100;
	display: none;
}
.big_menu:hover,
.menu_btn:hover + .big_menu {
	display: block;
}

.big_menu .links {
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	height: 31px;
	overflow: hidden;
}
.big_menu .links {
	display: table;
	width: 100%;
	list-style-type: none;
}
.big_menu .links li {
	display: table-cell;
	list-style: none;
	vertical-align: middle;
	text-align: center;
}
.big_menu .links a {
	text-decoration: none;
	color: #fff;
	font-weight: 100;
	font-size: 21px;
	display: block;
	width: 100%;
	height: 100%;
}
.big_menu .links a:hover {
	background-color: rgba(255, 255, 255, .15);
	cursor: pointer;
}
.big_menu .links a.gray {
	color: #d1d1d1;
	background-color: transparent;
	cursor: default;
}

.big_menu .profile {
	height: 161px;
}
.big_menu .profile .photo,
.big_menu .profile .play {
	height: 161px;
	width: 286px;
	float: left;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	opacity: .7;
}
.big_menu .profile .photo {
	opacity: .85;
}
.big_menu .profile .photo:hover {
	opacity: .9;
	cursor: pointer;
}
.big_menu .profile .play {
	background: rgba(0, 0, 0, .2) url(/img/music.png) 50% 17% no-repeat;
	text-align: center;
	color: rgba(255, 255, 255, .9);
	font-size: 20px;
	padding-top: 96px;
	position: relative;
}
.big_menu .profile .play .links {
	position: absolute;
	bottom: 0;
}
.big_menu .profile .play .btn01 { background-color: rgba(255, 255, 255, .6); }
.big_menu .profile .play .btn01:hover { background-color: rgba(255, 255, 255, .65); }
.big_menu .profile .play .btn02 { background-color: rgba(255, 255, 255, .4); }
.big_menu .profile .play .btn02:hover { background-color: rgba(255, 255, 255, .45); }
.big_menu .profile .play .btn03 { background-color: rgba(255, 255, 255, .3); }
.big_menu .profile .play .btn03:hover { background-color: rgba(255, 255, 255, .35); }
.big_menu .profile .play .btn04 { background-color: rgba(255, 255, 255, .2); }
.big_menu .profile .play .btn04:hover { background-color: rgba(255, 255, 255, .25); }
.big_menu .profile .play .btn05 { background-color: rgba(255, 255, 255, .1); }
.big_menu .profile .play .btn05:hover { background-color: rgba(255, 255, 255, .15); }

.big_menu .profile .play:hover {
	opacity: 1;
}

.big_menu .find {
	/*height: 0;*/
	/*line-height: 0;*/
	padding: 3px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 100;
	font-size: 22px;
	text-align: center;
	border: 0 none;
	box-sizing: border-box;
	width: 100%;
}

.big_menu .user {
	height: 89px;
	background-color: rgba(0, 0, 0, .5);
}
.big_menu .user .photo {
	float: left;
	width: 158px;
	height: 89px;
	/*background-color: rgba(255, 255, 255, .15);*/
	cursor: pointer;
}
.big_menu .user .info {
	margin-left: 158px;
	height: 89px;
	box-sizing: border-box;
	padding: 20px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 414px;
}
.big_menu .user.odd {
	background-color: rgba(255, 255, 255, .15);
}