@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500);

html{margin:0;padding:0;border:0}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,
ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,
hgroup,nav,section{margin:0;padding:0;border:0;vertical-align:baseline}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.5;background:white}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal;float:none !important}
table,th,td{vertical-align:middle}
blockquote:before,blockquote:after,q:before,q:after{content:''}
blockquote,q{quotes:"" ""}
a img{border:none}
:focus{outline:0}

html, body {
	height: 100%;
	min-height: 520px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

body {
	min-height: 600px;
}

* html .body {
	height: 100%;
}

.index {
	background: #eee url(/img/background.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.body {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.menu_btn {
	position: fixed;
	left: 50%;
	top: 0px;
	margin-left: -23px;
	width: 46px;
	height: 43px;
	display: block;
	background-size: 66%;
	z-index: 10;
	text-align: center;
	margin-top: 6px;
}
.menu_btn.fixed {
	position: fixed;
}

/* - */

#bg {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(0) translate3d(0,0,0);
	-moz-transform: translateZ(0) translate3d(0,0,0);
	-ms-transform: translateZ(0) translate3d(0,0,0);
	-o-transform: translateZ(0) translate3d(0,0,0);
	transform: translateZ(0) translate3d(0,0,0);
}

#bg .vi {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(0) translate3d(0,0,0);
	-moz-transform: translateZ(0) translate3d(0,0,0);
	-ms-transform: translateZ(0) translate3d(0,0,0);
	-o-transform: translateZ(0) translate3d(0,0,0);
	transform: translateZ(0) translate3d(0,0,0);
}

/* - */

svg path {
	fill: rgba( 0, 156, 255, .6);
	cursor: pointer;
}

.volume {
	width: 20px;
	height: 22px;
	position: absolute;
	display: block;
	left: 50%;
	margin-left: 35px;
	top: 10px;
	/*background: url(/img/volume.png) 0 -22px no-repeat;*/
	cursor: pointer;
	opacity: .7;
	z-index: 11;
}
.volume:hover #vol01,
.volume.off #vol01,
.volume:hover #vol02,
.volume.off #vol02 {
	display: none;
	/*background: url(/img/volume.png) 0 0 no-repeat;*/
}

.volume.off:hover #vol01,
.volume.off:hover #vol02 {
	display: block;
}

.holder_btn {
	position: absolute;
	width: 300px;
	height: 45px;
	left: 50%;
	top: 0;
	margin-left: -150px;
	display: none;
}

.fullscreen {
	width: 26px;
	height: 26px;
	position: absolute;
	right: 50%;
	margin-right: 35px;
	cursor: pointer;
	display: block;
	opacity: .7;
	z-index: 12;
	top: 12px;
	opacity: .5;
}

.pause {
	position: absolute;
	left: 50%;
	margin-left: 71px;
	top: 10px;
	cursor: pointer;
	opacity: .7;
}

.pause #svg_play { display: none; }

.pause.active #svg_play { display: block; }
.pause.active #svg_pause { display: none; }

.menu_btn:hover + .holder_btn,
.holder_btn:hover {
	display: block;
}

.login_box {
	display: inline-block;
	color: rgba(255, 255, 255, .9);
	width: 868px;
	height: 718px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -434px;
	margin-top: -381px;

	-webkit-transition: background-color 0.3s ease;
	-moz-transition:    background-color 0.3s ease;
	-o-transition:      background-color 0.3s ease;
	-ms-transition:     background-color 0.3s ease;
	transition:         background-color 0.3s ease;
}
.login_box.small {
	width: 572px;
	height: 473px;
	margin-left: -286px;
	margin-top: -251px;
}

.login_box.right {
	margin-left: -67px;
}
.login_box.right.small {
	margin-left: -46px;
}
.login_box.left {
	width: 579px;
	margin-left: -801px;
}
.login_box.left.small {
	width: 377px;
	margin-left: -526px;
}

.login_box.left div.max {
	height: 608px;
	box-sizing: border-box;
	/*padding: 30px;*/
	text-align: center;
	font-size: 30px;
	/*overflow-y: auto;*/
	overflow: hidden;
	text-shadow: 0 0 3px rgba(255, 255, 255, .7);
	position: relative;
}
.login_box.left.small div.max {
	height: 400px;
	padding: 20px;
	font-size: 22px;
}

.login_box.left div.max.ga {
	height: 473px;
}
.login_box.left.small div.max.ga {
	height: 311px;
}

.login_box.left div.max.graph {
	height: 135px;
	background-image: url(/img/analytics.png?v=1);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .8;
}
.login_box.left.small div.max.graph {
	height: 89px;
}

/* = */

.login_box.right.center {
	margin-left: -434px;
}
.login_box.right.small.center {
	margin-left: -286px;
}

.login_box.left.center {
	margin-left: -289px;
}
.login_box.left.small.center {
	margin-left: -188px;
}

/* = */

.login_box .wrong {
	font-size: 34px;
	height: 0;
	line-height: 0;
	position: relative;
	left: 670px;
	top: -34px;
	display: none;
}
.login_box.small .wrong {
	font-size: 22px;
	left: 442px;
	top: -22px;
}


.login_box .title {
	position: relative;
	height: 0;
	line-height: 0;
	font-size: 92px;
	padding: 77px 0;
	text-align: center;
	/*background-color: rgba(255, 255, 255, .25);*/
	color: rgba(255, 255, 255, .8);
	text-shadow: 0 0 3px rgba(255, 255, 255, .55);
}
.login_box.small .title {
	font-size: 61px;
	padding: 51px 0;
}

.login_box .login_input {
	margin: 20px auto 0;
	width: 447px;
	height: 67px;
	border: 0 none;
	display: block;
	background-color: #f6f6f6;
	font-size: 34px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	color: #2da9f9;
	box-sizing: border-box;
}
.login_box.small .login_input {
	margin: 13px auto 0;
	width: 295px;
	height: 44px;
	font-size: 22px;
}
.login_box.small .login_input:first-child {
	margin: 26px auto 0;
}
.login_box .login_input::-webkit-input-placeholder {
	color: rgba(45, 169, 249, .4);
}
.login_box .login_input:-moz-placeholder {
	color: rgba(45, 169, 249, .4);
}

.login_box .login_control {
	margin: 20px auto 0;
	width: 447px;
	height: 57px;
	background-color: rgba(255, 255, 255, .15);
}
.login_box.small .login_control {
	margin: 13px auto 0;
	width: 295px;
	height: 34px;
}
.login_box .login_control a {
	color: #fff;
	text-decoration: none;
	font-size: 34px;
	display: block;
	width: auto;
	float: left;
	text-align: center;
	height: 0;
	line-height: 0;
	padding: 27px 31px 30px 31px;
	box-sizing: border-box;
	cursor: pointer;
}
.login_box.small .login_control a {
	font-size: 22px;
	padding: 17px 21px 17px 21px;
}
.login_box .login_control a:hover {
	background-color: rgba(255, 255, 255, .15);
}
.login_box .login_control a.back {
	float: right;
	/*padding-left: 18px;*/
}
.login_box.small .login_control a.back {
	float: right;
	/*padding-left: 12px;*/
}

.login_box .success {
	width: 747px;
	margin: 170px auto 0;
	font-size: 60px;
	text-align: center;
}
.login_box.small .success {
	width: 485px;
	margin-top: 102px;
	font-size: 39px;
}

.login_box .login_button {
	display: block;
	position: relative;
	width: 447px;
	height: 84px;
	background: rgba(65, 200, 245, 1); /*url(/img/social_network.png) 14px 15px no-repeat;*/
	margin: 40px auto 0;
	line-height: 0;
	text-align: center;
	padding: 42px 0 42px 65px;
	font-size: 34px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 6px rgba(255, 255, 255, .55);
	cursor: pointer;

	-webkit-transition: background-color 0.3s ease;
	-moz-transition:    background-color 0.3s ease;
	-o-transition:      background-color 0.3s ease;
	-ms-transition:     background-color 0.3s ease;
	transition:         background-color 0.3s ease;
	opacity: .85;
}
.login_box .login_button:hover {
	opacity: 1;
}
.login_box.small .login_button {
	margin-top: 26px;
	width: 295px;
	height: 55px;
	padding: 27px 0 27px 47px;
	font-size: 22px;
	background: rgba(65, 200, 245, 1); /* url(/img/social_network_small.png) 12px 10px no-repeat;*/
}
.login_box .login_button > img {
	display: block;
	position: absolute;
	top: 17px;
	left: 16px;
	width: 55px;
}
.login_box.small .login_button > img {
	display: block;
	position: absolute;
	top: 12px;
	left: 14px;
	width: 36px;
}
/*.login_box .login_button:hover {
	background-color: rgba(65, 200, 245, 1) !important;
}*/

.login_box .login_button.fb {
	margin-top: 32px;
	background: rgba(40, 112, 244, 1); /*url(/img/social_network.png) 14px -103px no-repeat;*/
}
.login_box.small .login_button.fb {
	margin-top: 21px;
	background: rgba(40, 112, 244, 1); /*url(/img/social_network_small.png) 12px -68px no-repeat;*/
}
.login_box .login_button.fb > img {
	top: 15px;
	left: 28px;
	height: 55px;
	width: auto;
}
.login_box.small .login_button.fb > img {
	top: 10px;
	left: 22px;
	height: 36px;
	width: auto;
}
/*.login_box .login_button.fb:hover {
	background-color: rgba(40, 112, 244, 1) !important;
}*/

.login_box .login_button.gp {
	margin-top: 32px;
	background: rgba(228, 66, 88, 1); /*url(/img/social_network.png) 14px -219px no-repeat;*/
}
.login_box.small .login_button.gp {
	margin-top: 21px;
	background: rgba(228, 66, 88, 1); /*url(/img/social_network_small.png) 12px -144px no-repeat;*/
}
.login_box .login_button.gp > img {
	top: 14px;
	left: 22px;
	height: 55px;
	width: auto;
}
.login_box.small .login_button.gp > img {
	top: 10px;
	left: 18px;
	height: 36px;
	width: auto;
}
/*.login_box .login_button.gp:hover {
	background-color: rgba(228, 66, 88, 1) !important;
}*/

.login_box .login_button.tw {
	margin-top: 32px;
	background: rgba(75, 204, 230, 1);/* url(/img/social_network.png) 14px -333px no-repeat;*/
}
.login_box.small .login_button.tw {
	margin-top: 21px;
	background: rgba(75, 204, 230, 1); /* url(/img/social_network_small.png) 12px -219px no-repeat;*/
}
.login_box .login_button.tw > img {
	top: 18px;
	left: 21px;
	height: auto;
	width: 55px;
}
.login_box.small .login_button.tw > img {
	top: 13px;
	left: 17px;
	height: auto;
	width: 36px;
}
/*.login_box .login_button.tw:hover {
	background-color: rgba(75, 204, 230, 1) !important;
}*/

.login_box .signup {
	text-decoration: none;
	color: rgba(255, 255, 255, .9);
	display: block;
	font-size: 32px;
	line-height: 0;
	text-align: center;
	width: 447px;
	margin: 45px auto 0;
	text-shadow: 0 0 6px rgba(255, 255, 255, .7);
	cursor: pointer;

	-webkit-transition: background-color 0.3s ease;
	-moz-transition:    background-color 0.3s ease;
	-o-transition:      background-color 0.3s ease;
	-ms-transition:     background-color 0.3s ease;
	transition:         background-color 0.3s ease;
}
.login_box .signup:hover {
	color: rgba(255, 255, 255, 1);
}

.login_box.small .signup {
	width: 295px;
	font-size: 22px;
	margin: 30px auto 0;
}

.login_box .colors {
	width: 100%;
	height: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	bottom: -44px;
}
.login_box.small .colors {
	height: 29px;
	bottom: -29px;
}
.colors {
	background: rgba(65, 200, 245, .1);
}
.colors td {
	width: 9.09%;
}
.color {
	cursor: pointer;
	position: relative;

	-webkit-transition: background-color 0.3s ease;
	-moz-transition:    background-color 0.3s ease;
	-o-transition:      background-color 0.3s ease;
	-ms-transition:     background-color 0.3s ease;
	transition:         background-color 0.3s ease;
}
.color.active:before {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -6px;
}
.login_box.small .color.active:before {
	width: 8px;
	height: 8px;
	margin-left: -4px;
	margin-top: -4px;
}
.color.c09.active:before {
	background-color: rgba( 0, 156, 255, .6);
}


.login_box.f0  .td, .login_box.f0  .max { background-color: rgba(  0, 156, 255, .6); }
.login_box.f1  .td, .login_box.f1  .max { background-color: rgba(  6,   0, 255, .6); }
.login_box.f2  .td, .login_box.f2  .max { background-color: rgba(121,  43, 244, .6); }
.login_box.f3  .td, .login_box.f3  .max { background-color: rgba(220,   0, 220, .6); }
.login_box.f4  .td, .login_box.f4  .max { background-color: rgba(255,   0,   0, .6); }
.login_box.f5  .td, .login_box.f5  .max { background-color: rgba(255, 138,   0, .6); }
.login_box.f6  .td, .login_box.f6  .max { background-color: rgba(255, 234,   0, .6); }
.login_box.f7  .td, .login_box.f7  .max { background-color: rgba( 30, 220,   0, .6); }
.login_box.f8  .td, .login_box.f8  .max { background-color: rgba(  0, 234, 255, .6); }
.login_box.f9  .td, .login_box.f9  .max { background-color: rgba(255, 255, 255, .6); }
.login_box.f10 .td, .login_box.f10 .max { background-color: rgba(  0,   0,   0, .6); }


.login_box.f0  ~ .holder_minimize .box_minimized { background-color: rgba(  0, 156, 255, .6); }
.login_box.f1  ~ .holder_minimize .box_minimized { background-color: rgba(  6,   0, 255, .6); }
.login_box.f2  ~ .holder_minimize .box_minimized { background-color: rgba(121,  43, 244, .6); }
.login_box.f3  ~ .holder_minimize .box_minimized { background-color: rgba(220,   0, 220, .6); }
.login_box.f4  ~ .holder_minimize .box_minimized { background-color: rgba(255,   0,   0, .6); }
.login_box.f5  ~ .holder_minimize .box_minimized { background-color: rgba(255, 138,   0, .6); }
.login_box.f6  ~ .holder_minimize .box_minimized { background-color: rgba(255, 234,   0, .6); }
.login_box.f7  ~ .holder_minimize .box_minimized { background-color: rgba( 30, 220,   0, .6); }
.login_box.f8  ~ .holder_minimize .box_minimized { background-color: rgba(  0, 234, 255, .6); }
.login_box.f9  ~ .holder_minimize .box_minimized { background-color: rgba(255, 255, 255, .6); color: rgba(  0, 156, 255, .8); text-shadow: 0 0 3px rgba(0, 156, 255, .9); }
.login_box.f10 ~ .holder_minimize .box_minimized { background-color: rgba(  0,   0,   0, .6); }

.login_box.f0  ~ .holder_minimize .box_minimized:hover { background-color: rgba(  0, 156, 255, .4); }
.login_box.f1  ~ .holder_minimize .box_minimized:hover { background-color: rgba(  6,   0, 255, .4); }
.login_box.f2  ~ .holder_minimize .box_minimized:hover { background-color: rgba(121,  43, 244, .4); }
.login_box.f3  ~ .holder_minimize .box_minimized:hover { background-color: rgba(220,   0, 220, .4); }
.login_box.f4  ~ .holder_minimize .box_minimized:hover { background-color: rgba(255,   0,   0, .4); }
.login_box.f5  ~ .holder_minimize .box_minimized:hover { background-color: rgba(255, 138,   0, .4); }
.login_box.f6  ~ .holder_minimize .box_minimized:hover { background-color: rgba(255, 234,   0, .4); }
.login_box.f7  ~ .holder_minimize .box_minimized:hover { background-color: rgba( 30, 220,   0, .4); }
.login_box.f8  ~ .holder_minimize .box_minimized:hover { background-color: rgba(  0, 234, 255, .4); }
.login_box.f9  ~ .holder_minimize .box_minimized:hover { background-color: rgba(255, 255, 255, .4); }
.login_box.f10 ~ .holder_minimize .box_minimized:hover { background-color: rgba(  0,   0,   0, .4); }


.login_box.f0  ~ .menu_btn svg path, .login_box.f0  ~ .holder_btn svg path, .login_box.f0  ~ .holder_btn svg rect, .login_box.f0  ~ .holder_btn svg polyline { fill: rgba(  0, 156, 255, .6); }
.login_box.f1  ~ .menu_btn svg path, .login_box.f1  ~ .holder_btn svg path, .login_box.f1  ~ .holder_btn svg rect, .login_box.f1  ~ .holder_btn svg polyline { fill: rgba(  6,   0, 255, .6); }
.login_box.f2  ~ .menu_btn svg path, .login_box.f2  ~ .holder_btn svg path, .login_box.f2  ~ .holder_btn svg rect, .login_box.f2  ~ .holder_btn svg polyline { fill: rgba(121,  43, 244, .6); }
.login_box.f3  ~ .menu_btn svg path, .login_box.f3  ~ .holder_btn svg path, .login_box.f3  ~ .holder_btn svg rect, .login_box.f3  ~ .holder_btn svg polyline { fill: rgba(220,   0, 220, .6); }
.login_box.f4  ~ .menu_btn svg path, .login_box.f4  ~ .holder_btn svg path, .login_box.f4  ~ .holder_btn svg rect, .login_box.f4  ~ .holder_btn svg polyline { fill: rgba(255,   0,   0, .6); }
.login_box.f5  ~ .menu_btn svg path, .login_box.f5  ~ .holder_btn svg path, .login_box.f5  ~ .holder_btn svg rect, .login_box.f5  ~ .holder_btn svg polyline { fill: rgba(255, 138,   0, .6); }
.login_box.f6  ~ .menu_btn svg path, .login_box.f6  ~ .holder_btn svg path, .login_box.f6  ~ .holder_btn svg rect, .login_box.f6  ~ .holder_btn svg polyline { fill: rgba(255, 234,   0, .6); }
.login_box.f7  ~ .menu_btn svg path, .login_box.f7  ~ .holder_btn svg path, .login_box.f7  ~ .holder_btn svg rect, .login_box.f7  ~ .holder_btn svg polyline { fill: rgba( 30, 220,   0, .6); }
.login_box.f8  ~ .menu_btn svg path, .login_box.f8  ~ .holder_btn svg path, .login_box.f8  ~ .holder_btn svg rect, .login_box.f8  ~ .holder_btn svg polyline { fill: rgba(  0, 234, 255, .6); }
.login_box.f9  ~ .menu_btn svg path, .login_box.f9  ~ .holder_btn svg path, .login_box.f9  ~ .holder_btn svg rect, .login_box.f9  ~ .holder_btn svg polyline { fill: rgba(255, 255, 255, .6); }
.login_box.f10 ~ .menu_btn svg path, .login_box.f10 ~ .holder_btn svg path, .login_box.f10 ~ .holder_btn svg rect, .login_box.f10 ~ .holder_btn svg polyline { fill: rgba(  0,   0,   0, .6); }


.login_box.f0  i.minimize { background-color: rgba(  0, 156, 255, .3); }
.login_box.f1  i.minimize { background-color: rgba(  6,   0, 255, .3); }
.login_box.f2  i.minimize { background-color: rgba(121,  43, 244, .3); }
.login_box.f3  i.minimize { background-color: rgba(220,   0, 220, .3); }
.login_box.f4  i.minimize { background-color: rgba(255,   0,   0, .3); }
.login_box.f5  i.minimize { background-color: rgba(255, 138,   0, .3); }
.login_box.f6  i.minimize { background-color: rgba(255, 234,   0, .3); }
.login_box.f7  i.minimize { background-color: rgba( 30, 220,   0, .3); }
.login_box.f8  i.minimize { background-color: rgba(  0, 234, 255, .3); }
.login_box.f9  i.minimize { background-color: rgba(255, 255, 255, .3); }
.login_box.f9  i.minimize:hover { background-color: rgba(255, 255, 255, .6) !important; }
.login_box.f9  i.minimize span { background-color: rgba(  0, 156, 255, .6); }
.login_box.f9  i.minimize:hover span { background-color: rgba(  0, 156, 255, .6); }
.login_box.f10 i.minimize { background-color: rgba(  0,   0,   0, .3); }


.login_box.s0  i.minimize { background-color: rgba(  0, 156, 255, .3); }
.login_box.s1  i.minimize { background-color: rgba(  6,   0, 255, .3); }
.login_box.s2  i.minimize { background-color: rgba(121,  43, 244, .3); }
.login_box.s3  i.minimize { background-color: rgba(220,   0, 220, .3); }
.login_box.s4  i.minimize { background-color: rgba(255,   0,   0, .3); }
.login_box.s5  i.minimize { background-color: rgba(255, 138,   0, .3); }
.login_box.s6  i.minimize { background-color: rgba(255, 234,   0, .3); }
.login_box.s7  i.minimize { background-color: rgba( 30, 220,   0, .3); }
.login_box.s8  i.minimize { background-color: rgba(  0, 234, 255, .3); }
.login_box.s9  i.minimize { background-color: rgba(255, 255, 255, .3); }
.login_box.s10 i.minimize { background-color: rgba(  0,   0,   0, .3); }


.login_box.s0  ~ .holder_minimize .box_minimized { background-color: rgba(  0, 156, 255, .6); }
.login_box.s1  ~ .holder_minimize .box_minimized { background-color: rgba(  6,   0, 255, .6); }
.login_box.s2  ~ .holder_minimize .box_minimized { background-color: rgba(121,  43, 244, .6); }
.login_box.s3  ~ .holder_minimize .box_minimized { background-color: rgba(220,   0, 220, .6); }
.login_box.s4  ~ .holder_minimize .box_minimized { background-color: rgba(255,   0,   0, .6); }
.login_box.s5  ~ .holder_minimize .box_minimized { background-color: rgba(255, 138,   0, .6); }
.login_box.s6  ~ .holder_minimize .box_minimized { background-color: rgba(255, 234,   0, .6); }
.login_box.s7  ~ .holder_minimize .box_minimized { background-color: rgba( 30, 220,   0, .6); }
.login_box.s8  ~ .holder_minimize .box_minimized { background-color: rgba(  0, 234, 255, .6); }
.login_box.s9  ~ .holder_minimize .box_minimized { background-color: rgba(255, 255, 255, .6); color: rgba(  0, 156, 255, .8); text-shadow: 0 0 3px rgba(0, 156, 255, .9); }
.login_box.s10 ~ .holder_minimize .box_minimized { background-color: rgba(  0,   0,   0, .6); }


.login_box.f1  .title {
	background-color: rgba(255, 255, 255, .10);
}

.login_box.f9  .title,
.login_box.f9  .signup,
.login_box.f9  .max {
	color: rgba(  0, 156, 255, .9);
	text-shadow: 0 0 3px rgba(0, 156, 255, .9);
}

.login_box.f0 div.max.graph,
.login_box.f1 div.max.graph,
.login_box.f2 div.max.graph,
.login_box.f3 div.max.graph,
.login_box.f4 div.max.graph,
.login_box.f5 div.max.graph,
.login_box.f6 div.max.graph,
.login_box.f7 div.max.graph,
.login_box.f8 div.max.graph,
.login_box.f10 div.max.graph {
	background-image: url(/img/analytics.png?v=1);
}

.login_box.f9 div.max.graph {
	background-image: url(/img/analytics_blue.png?v=1);
}

.login_box.f0 .login_input::-webkit-input-placeholder  { color: rgba( 45, 169, 249, .4); }
.login_box.f0 .login_input:-moz-placeholder            { color: rgba( 45, 169, 249, .4); }
.login_box.f1 .login_input::-webkit-input-placeholder  { color: rgba(  6,   0, 255, .4); }
.login_box.f1 .login_input:-moz-placeholder            { color: rgba(  6,   0, 255, .4); }
.login_box.f2 .login_input::-webkit-input-placeholder  { color: rgba(121,  43, 244, .4); }
.login_box.f2 .login_input:-moz-placeholder            { color: rgba(121,  43, 244, .4); }
.login_box.f3 .login_input::-webkit-input-placeholder  { color: rgba(220,   0, 220, .4); }
.login_box.f3 .login_input:-moz-placeholder            { color: rgba(220,   0, 220, .4); }
.login_box.f4 .login_input::-webkit-input-placeholder  { color: rgba(255,   0,   0, .4); }
.login_box.f4 .login_input:-moz-placeholder            { color: rgba(255,   0,   0, .4); }
.login_box.f5 .login_input::-webkit-input-placeholder  { color: rgba(255, 138,   0, .4); }
.login_box.f5 .login_input:-moz-placeholder            { color: rgba(255, 138,   0, .4); }
.login_box.f6 .login_input::-webkit-input-placeholder  { color: rgba(255, 234,   0, .4); }
.login_box.f6 .login_input:-moz-placeholder            { color: rgba(255, 234,   0, .4); }
.login_box.f7 .login_input::-webkit-input-placeholder  { color: rgba( 30, 220,   0, .4); }
.login_box.f7 .login_input:-moz-placeholder            { color: rgba( 30, 220,   0, .4); }
.login_box.f8 .login_input::-webkit-input-placeholder  { color: rgba(  0, 234, 255, .4); }
.login_box.f8 .login_input:-moz-placeholder            { color: rgba(  0, 234, 255, .4); }
.login_box.f9 .login_input::-webkit-input-placeholder  { color: rgba(  0, 156, 255, .4); }
.login_box.f9 .login_input:-moz-placeholder            { color: rgba(  0, 156, 255, .4); }
.login_box.f10 .login_input::-webkit-input-placeholder { color: rgba(  0,   0,   0, .4); }
.login_box.f10 .login_input:-moz-placeholder           { color: rgba(  0,   0,   0, .4); }

.login_box.f9 .login_control a { color: rgba(  0, 156, 255, .8); }

.login_box.s0  .td, .login_box.s0  .max { background-color: rgba(  0, 156, 255, .6); }
.login_box.s1  .td, .login_box.s1  .max { background-color: rgba(  6,   0, 255, .6); }
.login_box.s2  .td, .login_box.s2  .max { background-color: rgba(121,  43, 244, .6); }
.login_box.s3  .td, .login_box.s3  .max { background-color: rgba(220,   0, 220, .6); }
.login_box.s4  .td, .login_box.s4  .max { background-color: rgba(255,   0,   0, .6); }
.login_box.s5  .td, .login_box.s5  .max { background-color: rgba(255, 138,   0, .6); }
.login_box.s6  .td, .login_box.s6  .max { background-color: rgba(255, 234,   0, .6); }
.login_box.s7  .td, .login_box.s7  .max { background-color: rgba( 30, 220,   0, .6); }
.login_box.s8  .td, .login_box.s8  .max { background-color: rgba(  0, 234, 255, .6); }
.login_box.s9  .td, .login_box.s9  .max { background-color: rgba(255, 255, 255, .6); }
.login_box.s10 .td, .login_box.s10 .max { background-color: rgba(  0,   0,   0, .6); }

.login_box.s0  ~ .menu_btn svg path { fill: rgba(  0, 156, 255, .6); }
.login_box.s1  ~ .menu_btn svg path { fill: rgba(  6,   0, 255, .6); }
.login_box.s2  ~ .menu_btn svg path { fill: rgba(121,  43, 244, .6); }
.login_box.s3  ~ .menu_btn svg path { fill: rgba(220,   0, 220, .6); }
.login_box.s4  ~ .menu_btn svg path { fill: rgba(255,   0,   0, .6); }
.login_box.s5  ~ .menu_btn svg path { fill: rgba(255, 138,   0, .6); }
.login_box.s6  ~ .menu_btn svg path { fill: rgba(255, 234,   0, .6); }
.login_box.s7  ~ .menu_btn svg path { fill: rgba( 30, 220,   0, .6); }
.login_box.s8  ~ .menu_btn svg path { fill: rgba(  0, 234, 255, .6); }
.login_box.s9  ~ .menu_btn svg path { fill: rgba(255, 255, 255, .6); }
.login_box.s10 ~ .menu_btn svg path { fill: rgba(  0,   0,   0, .6); }

.login_box.s1  .title {
	background-color: rgba(255, 255, 255, .10);
}

.login_box.s0 .title,  .login_box.s1 .title,
.login_box.s2 .title,  .login_box.s3 .title,
.login_box.s4 .title,  .login_box.s5 .title,
.login_box.s6 .title,  .login_box.s7 .title,
.login_box.s8 .title,  .login_box.s10 .title,
.login_box.s0 .signup, .login_box.s1 .signup,
.login_box.s2 .signup, .login_box.s3 .signup,
.login_box.s4 .signup, .login_box.s5 .signup,
.login_box.s6 .signup, .login_box.s7 .signup,
.login_box.s8 .signup, .login_box.s10 .signup,
.login_box.s0 .max, .login_box.s1 .max,
.login_box.s2 .max, .login_box.s3 .max,
.login_box.s4 .max, .login_box.s5 .max,
.login_box.s6 .max, .login_box.s7 .max,
.login_box.s8 .max, .login_box.s10 .max {
	color: rgba(  255, 255, 255, .9);
	text-shadow: 0 0 3px rgba(255, 255, 255, .9);
}

.login_box.s9  .title,
.login_box.s9  .signup,
.login_box.s9  .max {
	color: rgba(  0, 156, 255, .55);
	text-shadow: 0 0 3px rgba(0, 156, 255, .55);
}

.login_box.s0 div.max.graph,
.login_box.s1 div.max.graph,
.login_box.s2 div.max.graph,
.login_box.s3 div.max.graph,
.login_box.s4 div.max.graph,
.login_box.s5 div.max.graph,
.login_box.s6 div.max.graph,
.login_box.s7 div.max.graph,
.login_box.s8 div.max.graph,
.login_box.s10 div.max.graph {
	background-image: url(/img/analytics.png?v=1);
}

.login_box.s9 div.max.graph {
	background-image: url(/img/analytics_blue.png?v=1);
}

.login_box.s0  .login_control a,
.login_box.s1  .login_control a,
.login_box.s2  .login_control a,
.login_box.s3  .login_control a,
.login_box.s4  .login_control a,
.login_box.s5  .login_control a,
.login_box.s6  .login_control a,
.login_box.s7  .login_control a,
.login_box.s8  .login_control a,
.login_box.s10 .login_control a { color: rgba(255, 255, 255, 1); }

.login_box.s9 .login_control a { color: rgba(  0, 156, 255, .8); }

.login_box.s0  .title i.minimize span,
.login_box.s1  .title i.minimize span,
.login_box.s2  .title i.minimize span,
.login_box.s3  .title i.minimize span,
.login_box.s4  .title i.minimize span,
.login_box.s5  .title i.minimize span,
.login_box.s6  .title i.minimize span,
.login_box.s7  .title i.minimize span,
.login_box.s8  .title i.minimize span,
.login_box.s10 .title i.minimize span { background-color: rgba(255, 255, 255, .6); }

.login_box.s9 .title i.minimize span { background-color: rgba(  0, 156, 255, .6); }

.login_box.s0 .login_input::-webkit-input-placeholder  { color: rgba( 45, 169, 249, .4); }
.login_box.s0 .login_input:-moz-placeholder            { color: rgba( 45, 169, 249, .4); }
.login_box.s1 .login_input::-webkit-input-placeholder  { color: rgba(  6,   0, 255, .4); }
.login_box.s1 .login_input:-moz-placeholder            { color: rgba(  6,   0, 255, .4); }
.login_box.s2 .login_input::-webkit-input-placeholder  { color: rgba(121,  43, 244, .4); }
.login_box.s2 .login_input:-moz-placeholder            { color: rgba(121,  43, 244, .4); }
.login_box.s3 .login_input::-webkit-input-placeholder  { color: rgba(220,   0, 220, .4); }
.login_box.s3 .login_input:-moz-placeholder            { color: rgba(220,   0, 220, .4); }
.login_box.s4 .login_input::-webkit-input-placeholder  { color: rgba(255,   0,   0, .4); }
.login_box.s4 .login_input:-moz-placeholder            { color: rgba(255,   0,   0, .4); }
.login_box.s5 .login_input::-webkit-input-placeholder  { color: rgba(255, 138,   0, .4); }
.login_box.s5 .login_input:-moz-placeholder            { color: rgba(255, 138,   0, .4); }
.login_box.s6 .login_input::-webkit-input-placeholder  { color: rgba(255, 234,   0, .4); }
.login_box.s6 .login_input:-moz-placeholder            { color: rgba(255, 234,   0, .4); }
.login_box.s7 .login_input::-webkit-input-placeholder  { color: rgba( 30, 220,   0, .4); }
.login_box.s7 .login_input:-moz-placeholder            { color: rgba( 30, 220,   0, .4); }
.login_box.s8 .login_input::-webkit-input-placeholder  { color: rgba(  0, 234, 255, .4); }
.login_box.s8 .login_input:-moz-placeholder            { color: rgba(  0, 234, 255, .4); }
.login_box.s9 .login_input::-webkit-input-placeholder  { color: rgba(  0, 156, 255, .4); }
.login_box.s9 .login_input:-moz-placeholder            { color: rgba(  0, 156, 255, .4); }
.login_box.s10 .login_input::-webkit-input-placeholder { color: rgba(  0,   0,   0, .4); }
.login_box.s10 .login_input:-moz-placeholder           { color: rgba(  0,   0,   0, .4); }

.c00 { background-color: rgba(  0, 156, 255, .6); }
.c01 { background-color: rgba(  6,   0, 255, .6); }
.c02 { background-color: rgba(121,  43, 244, .6); }
.c03 { background-color: rgba(220,   0, 220, .6); }
.c04 { background-color: rgba(255,   0,   0, .6); }
.c05 { background-color: rgba(255, 138,   0, .6); }
.c06 { background-color: rgba(255, 234,   0, .6); }
.c07 { background-color: rgba( 30, 220,   0, .6); }
.c08 { background-color: rgba(  0, 234, 255, .6); }
.c09 { background-color: rgba(255, 255, 255, .6); }
.c10 { background-color: rgba(  0,   0,   0, .6); }

.c00:hover { background-color: rgba(  0, 156, 255, 1); }
.c01:hover { background-color: rgba(  6,   0, 255, 1); }
.c02:hover { background-color: rgba(121,  43, 244, 1); }
.c03:hover { background-color: rgba(220,   0, 220, 1); }
.c04:hover { background-color: rgba(255,   0,   0, 1); }
.c05:hover { background-color: rgba(255, 138,   0, 1); }
.c06:hover { background-color: rgba(255, 234,   0, 1); }
.c07:hover { background-color: rgba( 30, 220,   0, 1); }
.c08:hover { background-color: rgba(  0, 234, 255, 1); }
.c09:hover { background-color: rgba(255, 255, 255, 1); }
.c10:hover { background-color: rgba(  0,   0,   0, 1); }

/*  */


.table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.tr { height: 32px; }
.small .tr { height: 21px; }

.tr.first { height: 40px; }
.small .tr.first { height: 26px; }

.tr.button { height: 84px; }
.small .tr.button { height: 55px; }

.tr.control { height: 84px; }
.small .tr.control { height: 55px; }

.title i.td, .title i.white {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.title i.white {
	background-color: rgba(255,255,255,.15);
}
.title span { position: relative; }

.max, .td {
	background-color: rgba(0, 156, 255, .6);

	-webkit-transition: all 0.3s ease;
	-moz-transition:    all 0.3s ease;
	-o-transition:      all 0.3s ease;
	-ms-transition:     all 0.3s ease;
	transition:         all 0.3s ease;
}

.td {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.td.hole {
	background-color: transparent;
	width: 295px;
}
.login_box .td.hole .login_button {
	margin: 0;
	width: 100%;
}

.tr.buttom { height: 28px; }
.small .tr.buttom { height: 20px; }

.login_box .signup,
.login_box.small .signup {
	margin: 0;
}

.login_box.mobile.small, .login_box.mobile {
	position: relative;
	margin: 50px auto;
	display: block;
	left: 0;
	top: 0;
	width: 572px;
}

div.max { height: 564px; overflow: hidden; }
.small div.max { height: 371px; }